*{
  padding: 0px;
  margin: 0px;
 
}

.main-component{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.heading{
  padding: 50px;
  font-family: sans-serif;
}

.main-segment{
  width: 100%;
  text-align: center;
  height: 75%;
  padding-left: 150px;
  padding-top: 20px;
  
}

.card{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-content: space-around;
  border: 1px solid red;
  width: 200px;
  height: 200px;
  margin: 12px;
  background-color: rgb(161, 183, 255);
  border-radius: 15px;
  padding-top: 10px;
  box-shadow: 10px 10px 10px lightslategray;
}

.card2{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-content: space-around;
  border: 1px solid rgb(74, 94, 160);
  width: 200px;
  height: 200px;
  margin: 12px;
  background-color: rgb(255, 165, 185);
  border-radius: 15px;
  padding-top: 10px;
  box-shadow: 10px 10px 10px lightslategray;
}

.card-container{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  
}

.card-outer{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  
}

.heading-lists{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  width: 100%;
  padding-left: 120px;
  padding-right: 90px;
  box-sizing: border-box;
  background-color: rgb(204, 95, 95);
  box-shadow: 0px 5px 10px lightslategray;
}

.newuser{
  width: 200px;
}

.newuser2{
  margin-bottom: 10px;
  margin-right: 76px;
}

.list-button{
  background-color: lightgreen;
  border-radius: 8px;
  padding: 5px;
  margin-left: 2px;
}

.newuser-button{
  background-color: rgb(163, 62, 62);
  color: white;
  border-radius: 5px;
  border-color: rgb(172, 34, 34);
  padding: 5px;
  /* box-shadow: 2px 8px 18px 16px lightgray; */
  box-shadow: 1px 4px 7px 2px rgb(182, 182, 182);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.newuser-button2{
  background-color: rgb(218, 214, 0);
  border-radius: 5px;
  font-weight: 50;
  padding: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 10px;
  margin-left: 24px;
  width: 480;
  border-color: rgb(155, 129, 91);
  box-shadow: 1px 4px 7px 2px rgb(182, 182, 182);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn{
  background-color: darkgreen;
  color: rgb(223, 221, 221);
  border-radius: 5px;
  padding: 5px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 70px;
}

.add-button, .edit-button{
  background-color: rgb(44, 101, 207);
  border-radius: 5px;
  padding: 5px;
  width: 150px;
  color: white;
}

.addentry, .editentry{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 30vw;
  margin-left: 40px;
}

.portal{
  letter-spacing: 5px;
  color: rgb(255, 228, 179);
  font-weight: bold;


}

.my-stud{
  letter-spacing: 2px;
  color: rgb(43, 43, 71);
}

.mycard-outer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;  
  justify-content: center;
}

.mycard2{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-content: space-between;
  border: 1px solid rgb(74, 94, 160);
  width: 700px;
  height: 80px;
  margin: 12px;
  margin-right: 160px;
  background-color: rgb(161, 183, 255);
  border-radius: 15px;
  padding-top: 10px;
  box-shadow: 1px 6px 10px 4px rgb(182, 182, 182);
}

.mycard3{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  border: 1px solid rgb(74, 94, 160);
  width: 700px;
  height: 80px;
  margin: 12px;
  margin-right: 160px;
  background-color: rgb(255, 165, 185);
  border-radius: 15px;
  padding-bottom: 6px;
  box-shadow: 1px 6px 10px 4px rgb(182, 182, 182);
}

.my-btn{
  background-color: rgb(194, 183, 28); 
  border-radius: 5px;
  border-width: 2.8px;
  border-color: rgb(146, 138, 26); ;
  padding: 5px;
  margin-bottom: 8px;
  width: 100px;
  font-weight: 540;
  color: rgb(37, 32, 32);

}